.player-detail-container {
  width: 100%;
  height: 100%;
  padding: 25px;
  margin-bottom: 125px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}


.player-views-container {
  width: 100%;
  padding: 25px 10px;
  margin: 25px 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: solid white 2px;
  border-left: none;
  border-right: none;
  /* box-shadow: inset 0px -1px 5px #0a192f; */

}

.player-views-button {

  font-family: amagro-bold;
  color: white;
  width: 50%;
  background: transparent;
  border: none;

  padding: 5px;
  flex-shrink: 1;

}

#player-schedule-button {
  border-left: solid white 2px;
}

.player-results-container {
width: 100%;

}

.player-schedule-container {
  width: 100%;
}

@media (min-device-width: 680px) and (max-device-width: 1280px){
  
  .player-detail-container {
    padding: 50px;
  }

}