.player-container {
  font-size: 12px;
  color: white;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 25px 10px;
  border-bottom: white 1px solid;
}